@using GymManager.Application.Contacts.Command
@inject IConfiguration configuration
@model SendContactEmailCommand

@{
    var templateKey = configuration.GetSection("TemplateKey").Value;
    Layout = $"/Views/{templateKey}/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "Kontakt";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
}


<vc:main-carousel priority="2" />

<div class="container">
    <div class="row mt-3 mb-5">

        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("Contact", "Home"))
        {
            @Html.AntiForgeryToken()

            <div class="form-group mt-3">
                @Html.TextBoxFor(x => x.Name, new { @class="form-control", placeholder="Imię i nazwisko" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>

            <div class="form-group mt-3">
                @Html.TextBoxFor(x => x.Email, new { @class="form-control", placeholder="E-mail" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>

            <div class="form-group mt-3">
                @Html.TextBoxFor(x => x.Title, new { @class="form-control", placeholder="Tytuł wiadomości" })
                @Html.ValidationMessageFor(x => x.Title)
            </div>

            <div class="form-group mt-3">
                @Html.TextAreaFor(x => x.Message, new { @class="form-control", placeholder="Wiadomość", @rows=4 })
                @Html.ValidationMessageFor(x => x.Message)
            </div>

            <button type="submit" class="btn btn-primary btn-lg mt-4">
                Wyślij wiadomość
            </button>
        }

    </div>
</div>


@section Scripts {
<script src="~/lib/toastr.js/toastr.min.js"></script>


}